*
!config
!config/*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!environment.yaml
!LICENSE
!README.md
!workflow
!workflow/*
!.gitignore
!.editorconfig
!.gitattributes
!.test
!.test/data
